<?xml version="1.0" encoding="utf-8" ?>
<configuration>
    <startup> 
        <supportedRuntime version="v4.0" sku=".NETFramework,Version=v4.6.1" />
    </startup>
  <connectionStrings>
    <add name="main-database"  connectionString="Server=tcp:frotcom-rg-server.database.windows.net,1433;Initial Catalog=rg-main-database;Persist Security Info=False;User ID=rg;Password=dev2k18#;MultipleActiveResultSets=False;Encrypt=True;TrustServerCertificate=False;Connection Timeout=30;" providerName="System.Data.SqlClient"/>
  </connectionStrings>
</configuration>